---
import Section from '@/components/Section.astro'

import { basics } from '@cv_eng'
const { summary } = basics
---

<!-- <Section title='Acerca de..'> -->
<Section title='About..'>
	<p>
		{summary}
	</p>
</Section>
